@font-face {
  font-family: "iconfont"; /* Project id 3119163 */
  src:
    url("iconfont.woff2?t=1686277720940") format("woff2"),
    url("iconfont.woff?t=1686277720940") format("woff"),
    url("iconfont.ttf?t=1686277720940") format("truetype"),
    url("iconfont.svg?t=1686277720940#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e647";
}

.icon-github:before {
  content: "\e6ea";
}

.icon-im-lessen:before {
  content: "\e7ad";
}

.icon-IM:before {
  content: "\e60d";
}

.icon-log:before {
  content: "\e611";
}

.icon-role-manager:before {
  content: "\e74a";
}

.icon-reset-password:before {
  content: "\e625";
}

.icon-caret-right:before {
  content: "\e617";
}

.icon-caret-left:before {
  content: "\e604";
}

.icon-enable:before {
  content: "\e6a5";
}

.icon-search:before {
  content: "\e693";
}

.icon-edit:before {
  content: "\e620";
}

.icon-code:before {
  content: "\e615";
}

.icon-login:before {
  content: "\e654";
}

.icon-eye:before {
  content: "\ebcc";
}

.icon-disable:before {
  content: "\e612";
}

.icon-xml:before {
  content: "\e610";
}

.icon-add:before {
  content: "\e605";
}

.icon-file-config:before {
  content: "\e6f7";
}

.icon-menu:before {
  content: "\e613";
}

.icon-setting:before {
  content: "\e63f";
}

.icon-flow:before {
  content: "\e638";
}

.icon-project:before {
  content: "\e60c";
}

.icon-change-password:before {
  content: "\e653";
}

.icon-logout:before {
  content: "\e639";
}

.icon-user:before {
  content: "\e6a4";
}

.icon-home:before {
  content: "\e64f";
}
